<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>industry</title>
   
    <link rel="stylesheet" type="text/css" href="/style2.css">
  
  </head>
  <body>
    <header>
      <p id="username"></p>
      <div class="chris">
      <h2>6ちゃんねる</h2>
    <nav>
      <ul class="main-nav">
        <li>Logout</li>
        <li>infor</li>
        <li><input type="text" placeholder="search"></li>
      </ul>
    </nav>
    </div>
    </header>
  
  <div id="chat">
  <div id="timeline">
   
  </div>
    
    </div>
    <div id="repscreen"></div>
   
  </div>
  
 
  <div class="input-group chat-input">
    <input id="inputmessage" type="text" class="form-control" maxlength="50" placeholder="Write messages here...">
    <div class="input-group-append">
          <button id="sendBtn" class="btn btn-primary" type="button">Send</button>
           <button id="cancelBtn" class="btn btn-primary" type="button">Cancel</button>
    </div>


 </div>

 
  </body>
</html>